@model DishDetailsViewModel

<h2>@Model.Name</h2>
<p class="text-break">@Model.Description</p>

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Cart" asp-action="AddFromDetails" method="post">
        <input type="hidden" name="DishId" value="@Model.Id" />

        <div class="form-group">
            <label>Select Size:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="IsBig" value="false" checked />
                <label class="form-check-label">Small (@Model.PriceSmall€) - @Model.GramsSmall g.</label>
            </div>
            @if (Model.PriceBig.HasValue && Model.GramsBig.HasValue)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="IsBig" value="true" />
                    <label class="form-check-label">Big (@Model.PriceBig€) - @Model.GramsBig g.</label>
                </div>
            }
        </div>

        <button class="btn btn-success">Add To Cart</button>
    </form>

    @if (User.IsInRole("Admin"))
    {
        <form asp-controller="AdminMenu" asp-action="DeleteDish" method="post">
            <input type="hidden" name="DishId" value="@Model.Id" />
            <button class="btn btn-danger">Delete Dish</button>
        </form>
    }
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">
        Login to order
    </a>
}
 